.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #123885;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

section {
  border: white 4px dashed;
  border-radius: 10px;
  padding: 10px 50px;
}

.header h1 {
  margin: 5px;
}
.header p {
  margin: 5px;
}

img {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 200px;
  height: 160px;
}

.details {
  margin: 0 auto;
  width: 70%;
}

.details p {
  font-size: 18px;
  /* border: white 1px solid; */
  text-align: center;
}

.icon {
  width: 100%;
  box-sizing: border-box;
  display: flex;

  border: white 1px solid;
  /* padding-bottom: 10px; */
  padding: 0px 0px 15px 10px;
  border-radius: 5px;
}

.icon input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  color: rgb(184, 184, 184);
  font-size: 18px;
  background-color: #123885;
  box-sizing: border-box;
  width: 90%;
  margin-top: 20px;
}
input:focus {
  outline: none;
}

.email-container form {
  border: 2px solid var(--border-color);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container,
.send-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-container label {
  margin: 5px;
  font-size: 18px;
}

.email-container input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  color: rgb(255, 255, 255);
  font-size: 18px;
  background-color: #123885;
  box-sizing: border-box;
  width: 90%;
}

.email-container input:focus {
  outline: none;
}

.email-container .filed {
  margin-bottom: 5px;
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.send-btn-container button {
  font-size: 18px;
  padding: 8px 40px;
  margin-top: 15px;
  background: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  color: #607d8b;
  cursor: pointer;
}

button {
  font-size: 18px;
  padding: 8px 20px;
  margin-top: 10px;
  background: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  color: #607d8b;
  cursor: pointer;
}

button:focus {
  outline: none;
}

Form {
  padding: 40px 0;
}
